.detailText {
  font-weight: 600;
  font-size: 1.1rem;
}

@media (max-width: 1661px) {
  .countryContainer {
    gap: 4vw;
  }
}

@media (max-width: 1441px) {
  html {
    font-size: 0.8rem;
  }
  .countryContainer {
    gap: 3vw;
    /* padding: ; */
  }
  .flags {
    width: 19.1vw;
  }
}

@media (max-width: 376px) {
  .countryContainer {
    padding: 0 5rem;
    flex-direction: column;
    gap: 3rem;
  }
  .flags {
    width: 100%;
    height: 18.5vh;
  }
  .countryName {
    font-size: 1.5rem;
  }
  .detailText {
    font-size: 1.3rem;
  }
  .population,
  .region,
  .capital {
    font-size: 1.3rem;
  }
}
