.dark {
  display: block;
  width: inherit;
  min-height: 100vh;
  background-color: var(--very-dark-blue-dark-mode-background);
}

.parent {
  display: block;
  width: inherit;
  min-height: 100vh;
  background-color: var(--very-light-gray-light-mode-background);
}

.parent .no-country {
  color: black;
  display: block;
  width: 100%;
  text-align: center;
}

.dark .no-country {
  color: white;
  width: 100%;
  text-align: center;
}
