.solid {
  display: none;
}
.regular {
  display: block;
}
.nav-dark .solid {
  color: white;
  display: block;
}
.nav-dark .regular {
  color: black;
  display: none;
}

@media (max-width: 376px) {
  nav {
    padding: 0 3rem;
  }
}
