.countryDetails {
  color: black;
  overflow: hidden;
}

.back-btn {
  margin-top: 11vh;
  margin-left: 7vw;
  width: 11rem;
  height: 3.2rem;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1.6vw;
  justify-content: space-around;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0.2rem 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.067);
}

.back-btn button {
  background-color: white;
  padding: 0 2rem;
  border: none;
  font-size: 1.3rem;
  padding: 0;
  cursor: pointer;
}

.left-arrow {
  background-color: white;
  fill: black;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
}

.dark-back-icon {
  fill: white;
  background-color: transparent;
}

.dark-mode .back-btn {
  background-color: var(--dark-blue-dark-mode-elements);
}

.dark-mode .back-btn button {
  background-color: var(--dark-blue-dark-mode-elements);
  color: white;
  fill: white;
}

.detailContainer {
  width: 100%;
  margin-top: 7rem;
  height: 52vh;
  padding: 0 8.5rem;
  display: flex;
  box-sizing: border-box;
}

.country-flag {
  width: 48%;
}

.country-flag img {
  width: 100%;
  height: 100%;
}

.detail-sec {
  /* background-color: red; */
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detail-sec1 {
  height: 70%;
  box-sizing: border-box;
  /* background-color: red; */
  padding-left: 10rem;
  padding-top: 4rem;
  display: flex;
  gap: 11rem;
}

.detail-part1 p,
.detail-part2 p {
  font-size: 1.1rem;
  color: black;
}

.dark-mode .detail-part1 p,
.dark-mode .detail-part2 p {
  font-size: 1.1rem;
  color: white;
}

.country-name-heading {
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
  font-weight: 800;
}

.dark-mode .country-name-heading {
  color: white;
}

.detail-fields {
  font-size: 1.3rem;
  font-weight: 600;
}

.detail-part1,
.detail-part2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.detail-part2 {
  padding-top: 5rem;
}

.detail-sec2 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-left: 10rem;
  box-sizing: border-box;
  justify-content: start;
  height: 30%;
  flex-wrap: wrap;
}

.detail-sec2 p:first-child {
  font-size: 1.3rem;
  font-weight: 600;
}

.dark-mode .detail-sec2 p:first-child {
  color: white;
}

.border-country {
  display: flex;
  gap: 0.29rem;
  flex-wrap: wrap;
}

.border-country button {
  padding: 0.4rem 1.8rem;
  border: 1px solid rgba(0, 0, 0, 0.098);
  background-color: white;
}

.dark-mode .border-country button {
  color: white;
  background-color: var(--dark-blue-dark-mode-elements);
}

.dark-mode .border-country button {
  background-color: var(--dark-blue-dark-mode-elements);
}
